@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

:root {
  --first-color:#2d618c;
  --second-color:#1e2933;
  --third-color:#ffd343;
  --hover-color:#d6e5f2;
  --background-color:#2b5b84;
  --transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
}

.container {
  padding: 0 15px 0 15px;
  margin: 0 auto 0 auto;
}

@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container{
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}

body {
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
.header {
  background-color: var(--background-color);
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

/* container res */


.header .logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:767px) {
  .header .logo {
    width: 100%;
    height: 50px;
    padding: 20px 0;
  }
}

.header .logo img {
    width: 65px;
    height: 65px;
}

@media (max-width:767px) {
  .header .logo img {
    width: 40px;
    height: 40px;
  }
}

.header .navbar {
  display: flex;
}

@media (max-width:767px) {
  .header .navbar {
    margin: auto;
  }
}


.header .navbar > li > a {
  font-size: 18px;
  font-weight: 500;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  padding: 0 30px;
  overflow: hidden;
  transition: var(--transition);
}

@media (max-width:767px) {
  .header .navbar > li > a {
    padding: 10px;
    font-size: 14px;
    height: 50px;
  }
}


.header .navbar > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--third-color);
  top: 0;
  left: -100%;
  transition: var(--transition);
}

.header .navbar > li > a:hover::before {
  left: 0;
}

.header .navbar > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--third-color);
  bottom: 0;
  right: -100%;
  transition: var(--transition);
}

.header .navbar > li > a:hover::after {
  right: 0;
}

.active{
  color: var(--third-color) !important;
}

.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--background-color);
  padding: 30px;
  border-bottom: 3px solid var(--third-color);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  top: calc(100% + 40px);
  transition: top var(--transition), opacity var(--transition);
}



.header .mega-menu .mega-image img {
  max-width: 100%;
  height: 250px;
  width: 250px;
}

@media (max-width:767px) {
  .header .mega-menu .mega-image img {
    display: none;
  }
}

.header .mega-menu .links {
 min-width: 250px;
}

@media (max-width:767px) {
  .header .mega-menu .links  {
   flex: 1;
   
  }
}

.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #fafafa;
}

.header .mega-menu .links li a {
  display: block;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
}

.header .mega-menu .links li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color:var(--hover-color);
  height: 100%;
  width:0;
  z-index: -100;
  transition: var(--transition);
}

.header .mega-menu .links li:hover a {
  color: var(--second-color);
  font-weight: 600;
}

.header .mega-menu .links li:hover::before{
 width: 100%;
 
}
/*End Header */

/* Start Landing */

.landing {
  position: relative;
}

.landing::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--hover-color);
  z-index: -100;
  transform: skewY(-10deg);
  transform-origin:top left ;
}


@media (max-width: 767px) {
  .landing::before{
    transform: skewY(-35deg);
    transform-origin:top left ;

  }
}

.landing .container {
  min-height: calc(100vh - 100px );
  display: flex;
  align-items: center;
}

.landing .text {
  flex: 1;
}

@media (max-width: 992px) {
  .landing .text{
    text-align: center;
  }
}

.landing .text h1{
  font-size: 30px;
  color: var(--background-color);
}

@media (max-width: 767px) {
  .landing .text h1{
      margin: auto;
      font-size: 25px;

  }
}

.landing .text p{
  line-height: 2.1;
  color:#666;
  max-width: 500px;
  
}

@media (max-width: 992px) {
  .landing .text p{
      margin: auto;
  }
}

@media (max-width: 767px) {
  .landing .text p{
      margin: auto;
      font-size: 18px;
      color: var(--second-color);
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  max-width: 100%;
  animation: image 5s linear infinite;
}

@media (max-width: 992px) {
  .landing .image img{
    display: none;
  }
}


@keyframes image {
  0%,100%{
    top:0;
   }
   50% {
    top: -10px;
   }
}

/* End Start Landing */